{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

    <form action="/" method="POST">
        <h2>
            <P> Welcome to Qbay online shopping</P></h2>
            <h4>
            <P>We have provided you a very pleasant opportunity to present your products</P>
            <P>Please register and receive $100.00 as bonus for your membership.</P> </h4>
            <P></P>
            <label for="Member"><h5><span class="btn btn-Light">New user :</span></h5></label>
            <a href="registration" class="btn btn-secondary" role="button">Create Account</a>

    </form>
{% endblock %}
