{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

    <form action="/" method="POST">
        <h2>
            <P> Welcome to Qbay online shopping</P></h2>
            <P></P>
            <label for="Member"><h5><span class="btn btn-Light">New user :</span></h5></label>
            <a href="registration" class="btn btn-secondary" role="button">Create Account</a>
            <P></P>
            <label for="Member"><h5><span class="btn btn-Light">Already Registered? </span></h5></label>
            <a href="login" class="btn btn-secondary" role="button">Log In</a>



    </form>
{% endblock %}
