{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

    <form action="/" method="POST">
        <h2>
            <P> Welcome to Qbay online shopping</P></h2>
{#            <h4>#}
{#{            <P>A place where you can sell and buy products for che</P>}#}
{#{           <P>Please register and receive $100.00 as bonus for your membership.</P>#}
{# </h4>}#}
            <P></P>
            <label for="Member"><h5><span class="btn btn-Light">New user :</span></h5></label>
            <a href="Registration" class="btn btn-secondary" role="button">Create Account</a>

    </form>
{% endblock %}
</html>
