{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid">
    <P class="text-success" >
    <h1> Welcome to Qbay  </h1> </P>
    <P  class="text-info">
</P>

    <form action="#" method="POST">

       <div class="p-3 border bg-light">
       <p>
            <label for="email"><h7><span class=" label label-primary">Email Address</span></h7></label>
            <input type="email" "col-sm-2 control-label" id="user_email"  name = "user_email" placeholder="name@example.com">
        </p>
        <P>
            <label for="Password"><h7><span class=" label label-primary">Password</span></h7></label>
            <input type="Password" name="user_pass""col-sm-2 control-label" id="user_email"></input>
        </p>
           <P></P>
            <p><input href="#" type="submit" class="btn btn-secondary" value="login">
            <a href="/" class="btn btn-secondary" role="button">Cancel</a>
            </p>

      </div>
        <P></P>
        <P></P>
        <label for="New"><h5><span class="btn btn-Light">New user :</span></h5></label>
        <a href="registration" class="btn btn-secondary" role="button">Create Account</a>

    </form>
</div>
{% endblock %}
</html>
