{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Create Product{% endblock %} </h1>
{% endblock %}

{% block content %}
<h1>Create A New Product</h1>
<h4 id='message'>{{message}}</h4>
<form method="post">
    <div class="form-group">
        <label>Product Title</label>
        <input type="title" class="form-control" id="product_title" name="product_title" placeholder="Enter Product Title">
    </div>
    <div class="form-group">
        <label>Product Description</label>
        <input type="title" class="form-control" id="product_description" name="product_description" placeholder="Enter a small description about your Product">
    </div>
    <div class="form-group">
        <label>Account Email</label>
        <input type="title" class="form-control" id="owner_email" name="owner_email" placeholder="Please Confirm Your Account Email Address">
    <div class="form-group">
        <label>Product Price</label>
        <input type="title" class="form-control" id="product_price" name="product_price" placeholder="Enter a price: $0-$10,000 CAD">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>

</form>

{% endblock %}



