{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Update Your Profile{% endblock %} </h1>
{% endblock %}

{% block content %}

<h4 id='message'>{{message}}</h4>
<form method="post">
    <div class="form-group">
        <label>Current Email Address: </label>
        <input type="title" class="form-control" id="user_email" name="user_email" placeholder="Enter email address">
    </div>
    <div class="form-group">
        <label>New Username: </label>
        <input type="title" class="form-control" id="username" name="username" placeholder="Enter new username">
    </div>
    <div class="form-group">
        <label>New Shipping Address: </label>
        <input type="title" class="form-control" id="shipping_address" name="shipping_address" placeholder="Enter new shipping address">
    <div class="form-group">
        <label>New Postal Code: </label>
        <input type="title" class="form-control" id="postal_code" name="postal_code" placeholder="Enter new postal code">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>

</form>

{% endblock %}



